<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

<body>

    <div class="about-section">
        <h1>About Us</h1>
        <p>This project aim to develop a machine </p>
        <p> learning platform to make predictions on passenger satisfaction predictions.</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="{{url_for('static', filename='images/airplane-1.jpg')}}" alt="nani" style="width:100%; height:500px;">
                <div class="container">
                    <h2>Ugyal Wang</h2>
                    <p class="title">Team Member</p>
                    Hello!<br />
                    I am a student in Information Technology.
                    I am keen to be part of an innovative team
                    where I have the opportunity to grow my
                    skillset and make a valuable contribution.

                    <p>
                        u3248529@canberra.edu.au
                    </p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <!-- <div class="column">
            <div class="card">
                <img src="{{url_for('static', filename='images/luffy.jpg')}}" alt="Shams" style="width:100%; height:500px;">
                <div class="container">
                    <h2>Student Name 2</h2>
                    <p class="title">Team Member</p>
                    <p>
                        Hello!<br />
                        I am a  student in Information Technology.
                        I am keen to be part of an innovative team
                        where I have the opportunity to grow my
                        skillset and make a valuable contribution.

                    </p>
                    <p>u7654321@canberra.edu.au</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div> -->

</body>
</html>
